[phases.setup]
nixPkgs = ["python311"]

[phases.install]
cmds = ["pip install -r requirements.txt"]

[phases.build]
cmds = ["pip install -r requirements.txt --no-cache-dir"]

[start]
cmd = "python src/agents/polymarket_agent.py"